* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Public Sans", sans-serif;
  text-decoration: none;
  border: none;
  list-style: none;
}
body {
  width: 100vw;
  overflow-x: hidden;
}
.header {
}
.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 60px;
  padding: 20px 32px 20px 24px;
  &__brand {
  }
  &__list {
    display: none;
    position: absolute;
    width: 320px;
    height: 290px;
    flex-shrink: 0;
    border-radius: 10px;
    background: #fafafa;
    flex-direction: column;
    justify-content: center;
    row-gap: 16px;
    padding: 16px 0 23px;
    z-index: 2;
    top: 69px;
    left: 50%;
    transform: translateX(-50%);
    box-shadow: 0px 2px 2px 0px #6d6d6d96;
    &.active {
      display: flex;
    }
  }
  &__item {
    text-align: center;
  }
  &__link {
    color: #9698a6;
    font-size: 24px;
    font-weight: 500;
    &:visited {
      color: inherit;
    }
  }
  &__cta {
    display: none;
  }
  &__toggler {
    background: transparent;
    cursor: pointer;
    &__image {
      pointer-events: none;
    }
  }
}
.hero {
  position: relative;
  &__background {
    background: url(./images/hero-background-color.svg) no-repeat center;
    background-size: cover;
    &__image {
      max-width: 100%;
      display: block;
      margin: 0 auto;
    }
  }
  &__container {
    padding: 69px 32px 50.34px;
  }
  &__heading {
    color: #2d314d;
    text-align: center;
    font-size: 36.96px;
    font-weight: 300;
    line-height: 42.504px;
    margin: 0 auto 26.5px;
  }
  &__description {
    margin: 0 auto 64px;
    color: #9698a6;
    text-align: center;
    font-size: 14px;
    font-weight: 300;
    line-height: 21px;
  }
  &__cta {
    display: block;
    padding: 13px 35px;
    border-radius: 50px;
    background: linear-gradient(90deg, #31d35c 0%, #2bb7db 100%);
    margin: 0 auto;
    color: #fff;
    font-size: 14px;
    font-weight: 400;
    line-height: 18.2px;
    &:focus {
      border: none;
      outline: none;
      cursor: pointer;
    }
  }
}
.main {
}
.features {
  display: flex;
  padding: 70px 24px;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  background: #f3f4f6;
  &__heading {
    color: #2d314d;
    text-align: center;
    font-size: 30px;
    font-weight: 300;
    margin-bottom: 29.23px;
  }
  &__description {
    color: #9698a6;
    text-align: center;
    font-size: 14px;
    font-weight: 300;
    line-height: 21px;
    margin-bottom: 63px;
  }
  &container {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  &__card {
    display: flex;
    flex-direction: column;
    padding: 15px 16px 3px;
    &__image {
      margin-bottom: 33.19px;
      width: 72px;
      height: 72px;
      margin: 0 auto;
      margin-bottom: 33.19px;
    }
    &__title {
      margin-bottom: 18px;
      color: #2d314d;
      text-align: center;
      font-size: 20px;
      font-weight: 300;
    }
    &__description {
      color: #9698a6;
      text-align: center;
      font-size: 14px;
      font-weight: 300;
      line-height: 21px;
      text-align: center;
    }
  }
}
.articles {
  padding: 69px 24px 70px 24px;
  background: #fafafa;
  &__heading {
    color: #2d314d;
    font-size: 30px;
    font-weight: 300;
    margin-bottom: 24.39px;
  }
  &__container {
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: 30px;
  }
  &__card {
    border-radius: 5px;
    box-shadow: 0px 3px 3px 0px rgba(0, 0, 0, 0.1);
    &__image {
      width: 100%;
      height: 200px;
      object-fit: cover;
    }
    &__body {
      background: #ffffff;
      padding: 30px 18.770000000000003px 41.88px 30px;
    }
    &__author {
      color: #9698a6;
      font-size: 10px;
      font-weight: 300;
      margin-bottom: 13px;
    }
    &__title {
      color: #2d314d;
      font-size: 17.016px;
      font-weight: 300;
      line-height: 20.419px;
      margin-bottom: 8.41px;
    }
    &__description {
      color: #9698a6;
      font-size: 13px;
      font-weight: 300;
      line-height: 16.9px;
    }
  }
}
.footer {
  display: flex;
  width: 390px;
  padding: 40px 40px 143px 40px;
  flex-direction: column;
  align-items: center;
  background: #2d314d;
  width: 100%;
  &__col {
    &--1 {
      margin-bottom: 34.19px;
    }
    &--2 {
      display: flex;
      flex-direction: column;
      margin-bottom: 37.12px;
    }
    &--3 {
    }
  }
  // 1
  &__brand {
    margin-bottom: 34.19px;
  }
  &__sm {
    display: flex;
    column-gap: 19.5px;
    &__item {
    }
    &__link {
    }
    &__img {
    }
  }
  // end 1
  // 2
  &__sitemap {
    text-align: center;
    display: flex;
    flex-direction: column;
    &--1 {
      display: flex;
      flex-direction: column;
      row-gap: 16.75px;
      padding: 8px 0px 8.75px;
    }
    &--2 {
      display: flex;
      flex-direction: column;
      row-gap: 16.75px;
      padding: 8px 0px 8.75px;
    }
    &__item {
    }
    &__link {
      color: #fff;
      font-size: 15px;
      font-weight: 300;
      &:visited,
      &:focus,
      &:hover {
        color: #fff;
      }
    }
  }
  // end 2
  // 3
  &__cta {
    border-radius: 50px;
    background: linear-gradient(90deg, #31d35c 0%, #2bb7db 100%);
    display: block;
    padding: 13px 35px;
    color: #fff;
    font-size: 14px;
    font-weight: 400;
    margin: 0 auto 41.25px;
  }
  &__copyright {
    color: #9698a6;
    font-size: 13px;
    font-weight: 300;
  }
  // end 3
}
